.ordered-list {
    padding: 90px 150px;
    line-height: 190%;
}

.ordered-list>p {
    padding: 0 0 36px 16px;
}

.ordered-list>ol {
    padding: 0 64px;
}

.carousel_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 200px;
}

.carousel_slider_element {
    z-index: 1;
    height: 440px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    transform: perspective(200px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    transition: all 255ms ease-in-out;


}

.carousel_slider_element:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.3) scaleY(1.3);

}

.carousel_slider_element:hover~.carousel_slider_element {
    transform: perspective(200px) rotateY(-20deg) translateX(20px);
}

.carousel_slider_element>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* FÜR STANDARD CSS */

.mobile-arrow {
    display: none;
    position: absolute;
    transform: translate(-190px, 30px);
}

@media screen and (max-width: 1279px) {
    .carousel_slider_element {
        height: 300px;
    }

    .carousel_slider {
        padding: 100px 150px;
    }
}

@media screen and (max-width: 992px) {
    .carousel_slider_element {
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .carousel_slider_element {
        height: 220px;
    }
}

@media screen and (max-width: 768px) {
    .carousel_slider_element {
        height: 180px;
    }

    .mobile-arrow {
        display: block;
    }

    .desktop-arrow {
        display: none;
    }
}