.graph-text-one {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left:120px;
    padding-right: 120px;
    padding-top: 48px;
}

.text-pattaya {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left:120px;
    padding-right: 120px;
    padding-top: 88px;
}

.headline-pattaya {
    font-family: 'Arima';
      color: var(--bg-color-p-text);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    padding-top: 88px;
}

.headline-activities-accomodation {
    font-family: 'Arima';
    color: var(--bg-color-p-text);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    padding-top: 88px;
}

.text-activitites-accomodation {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.rain-periods-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rain-periods-section > img {
    width: 640px;
    height: 436px;
    padding-top: 24px;
}

.activities_accomodation-section {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.beach-activities-article {
    width: 550px;
    height: 727px;
    padding-left: 41px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.beach-activities-article > img {
    padding-top: 24px;
}

.activities-accomodation-article {
    width: 550px;
    height: 727px;
    padding-right: 41px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-activitites-accomodation {
    padding: 24px 0px;
} 

.activities-accomodation-article > img {
    padding-top: 78px;
}

   
.graph-text-two {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left:120px;
    padding-right: 120px;
    padding-top: 220px;

    flex-direction: column;
    align-items: center;
}

/* 1440px min */

@media screen and (min-width: 1440px) {

.rain-periods-mobile {
    display:none;
}

.rain-periods-desktop{
    display: block;
}
    
}

/* 767px-1339px */
@media screen and (max-width: 1339px) {
.rain-periods-mobile {
    display:none;
}

.rain-periods-desktop{
    display: block;
}
}

/* 480px-768px */
@media screen and (max-width: 768px) {

.rain-periods-mobile {
    display:none;
}

.rain-periods-desktop {
    display:block;
    width: 345px;
    height: 183px;
}

.activities_accomodation-section {
    flex-direction: column;
}

.beach-activities-article {
    width: 650px;
    height: 627px;
    padding-left: 20px;
    padding-right: 20px;
}

.activities-accomodation-article {
    width: 650px;
    height: 627px;
    padding-left: 20px;
    padding-right: 20px;
}

.activities-accomodation-article > img {
    width: 350px;
}

.beach-activities-article > img {
    width: 350px;
}


.activities_accomodation-section {
    gap: 0px;
}

}


/* 0-479px */
@media screen  and (max-width: 479px) {

.rain-periods-desktop {
    display:none;
}

.rain-periods-mobile {
    display:block;
}

.rain-periods-section > img {
    width: 345px;
    height: 183px;
    padding-top: 24px;

}
}