.headline-info {
    padding-top: 80px;
    padding-left: 80px;
}


.subheadline {
    color: var(--bg-color-text-color);
    font-size: 28px;
    font-family: 'Palanquin';
    font-weight: 400;
} 

 .author-name {
    color: var(--bg-color-text-color);
    font-size: 18px;
    font-family: 'Arima';
    font-weight: 700;
 }

.author-subheadline {
    color: var(--bg-color-text-color);
    font-size: 18px;
    font-family: 'Arima';
    font-weight: 700;
}

