.main_section {
    width: 100%;
    padding: 0px 120px;
}

.div_faq,
.div_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.div_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.details_container {
    background-color: var(--bg-color-yellow);
    border-radius: 12px;
    padding: 5px;
    gap: 8px;
    width: 100%;
}

header {
    position: relative;
    height: 500px;
}

.yellow-box {
    position: absolute;
    top: 0;
    left: 0;
}

.header-img {
    position: absolute;
    top: 0;
    right: 0;
}

.header-text {
    position: absolute;
}
h1 {
    position: absolute;
}

.circle-animation {
    position: absolute;
}

.flag-fixed {
    position: absolute;
}

.header-text {
  font-family: 'Palanquin';
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--bg-color-text-color);
}


.details_container {
    border-bottom: 1px solid #eee; 
    margin-bottom: 10px;
}

summary {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    cursor: pointer;
    padding: 15px;
}


summary::-webkit-details-marker,
summary::marker {
    display: none;
}

summary::after {
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    transform: rotate(-45deg);
    transition: transform 0.2s ease;
    flex-shrink: 0;
}


details[open] summary::after {
    transform: rotate(45deg); 
}


.details_container p {
    display: block;
    padding: 0 10px 20px 10px;
    margin: 0;
    line-height: 1.6;
}
