/* Header Section */

header {
    position: relative;
    height: 500px;
}

.yellow-box {
    position: absolute;
    top: 0;
    left: 0;
}

.header-img {
    position: absolute;
    top: 0;
    right: 0;
}

.header-text {
    position: absolute;
}
h1 {
    position: absolute;
}

.circle-animation {
    position: absolute;
}

.flag-fixed {
    position: absolute;
}

.header-text {
    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--bg-color-text-color);
}

/* Main Section */

.main_section {
    width: 100%;
    padding: 0px 120px;
}
/* Highlights Bereich */



 /* FAQ Bereich */
.div_faq,
.div_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.div_faq {
    gap: 44px;
    padding-bottom: 20px;
}

.div_contact {
    padding-bottom: 20px;
    gap: 58px;
}

.div_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.details_container {
    border-bottom: 1px solid #eee; 
    margin-bottom: 10px;
    background-color: var(--bg-color-yellow);
    border-radius: 12px;
    padding: 5px;
    gap: 8px;
    width: 100%;
}

summary {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    cursor: pointer;
    padding: 0px 16px 0px 16px;
}


summary::-webkit-details-marker,
summary::marker {
    display: none;
}

summary::after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 3px solid #555;
    border-bottom: 3px solid #555;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
    flex-shrink: 0;
}


details[open] summary::after {
    transform: rotate(225deg); 
}

.details_container > summary {
    font-family: 'Palanquin';
    color: var(--bg-color-text-color);
    font-size: 24px;
    font-weight: bold;
}

.details_contrainer_p {
    display: block;
    gap: 10px;
    padding: 0px 10px 4px 10px ;
    border-radius: 5px;
    background-color: white;
    margin: 8px;
}

.details_contrainer_p > p {
    display: block;
    letter-spacing: 0%;
    line-height: 120%;
    font-size: 18px;
    font-family: 'Palanquin';
    color: var(--bg-color-text-color);
    font-weight: 500;  
}

/* Contact Bereicht */


/* Footer Section */