.main_section {
    width: 100%;
    padding: 0px 120px;
}

.div_faq,
.div_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.div_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.details_container {
    background-color: var(--bg-color-yellow);
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

header {
    position: relative;
    height: 500px;
}

.yellow-box {
    position: absolute;
    top: 0;
    left: 0;
}

.header-img {
    position: absolute;
    top: 0;
    right: 0;
}

.header-text {
    position: absolute;
}
h1 {
    position: absolute;
}

.circle-animation {
    position: absolute;
}

.flag-fixed {
    position: absolute;
}

.header-text {
  font-family: 'Palanquin';
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--bg-color-text-color);
}

