/* Header Section */

.card-p-element {
    display: flex;
    padding-top: 48px;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}
 /* Main Section */
.main_section {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 88px;
}

/* Video */
.main_video {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 88px;
    padding-left: 135px;
    padding-right: 135px;
}

.main_video > video {
    width: 930px;
    height: 520px;
    border-radius: 53px;
}

/* P elemente */

.main_list_element {
    display: flex;
    flex-direction: column;
    padding: 32px 215px 32px 0px;
    gap: 32px;
}

.main_p_element, .main_seceond_p, .p_element_main {
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}

/* Listen Element */

.list_elements > li {
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
    
}

.list_elements > li::marker {
    font-size: 16px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}
