/* Header */

.card-p-element {
    display: flex;
    padding-top: 48px;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}
 /* Main Section */
.video_section {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 88px;
}

/* Video */
.main_video {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 88px;
    padding-left: 0; 
    padding-right: 0;
}

.main_video > video {
    width: 100%;       
    max-width: 1200px; 
    height: auto;      
    aspect-ratio: 16 / 9; 
    border-radius: 53px;
    object-fit: cover; 
}

/* P elemente */

.main_list_element {
    display: flex;
    flex-direction: column;
    padding: 32px 215px 32px 0px;
    gap: 32px;
}

.main_p_element, .main_seceond_p, .p_element_main {
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}

/* Listen Element */

.list_elements > li {
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
    
}

.list_elements > li::marker {
    font-size: 16px;
    font-family: 'Palanquin';
    font-weight: 400;
    color: var(--bg-color-p-text);
}


/* 0-479px */
@media screen  and (max-width: 479px) {
    
    .main_video {
        padding: 24px 0px;        
    }

    .main_video > video{
        width: 100%;
        height: auto;
        border: 30px;
    }

    .video_section {
        padding: 24px 15px;
    }

    .card-p-element {
        padding-top: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main_list_element {
        gap: 32px;
        padding: 24px 0px;
    }
    footer {
        padding: 30px 24px;
        margin-bottom: 88px;
    }
}

/* 480px - 767px */

@media screen  and (min-width: 480px) and  (max-width: 767px) {

    .main_video {
        padding: 24px 0px;        
    }

    .main_video > video{
        width: 100%;
        height: auto;
        border: 30px;
    }

    .video_section {
        padding: 32px 30px;
    }

    .card-p-element {
        padding-top: 32px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .main_list_element {
        gap: 32px;
        padding: 24px 0px;
    }
    footer {
        padding: 30px 32px;
        margin-bottom: 88px;
    }
}

/* 768px - 1280px */

@media screen and (min-width: 768px) and (max-width: 1280px) {
    
        .main_video {
        padding: 44px 0px;        
    }

    .main_video > video{
        width: 100%;
        height: auto;
        border: 30px;
    }

    .video_section {
        padding: 42px 40px;
    }

    .card-p-element {
        padding-top: 42px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main_list_element {
        gap: 32px;
        padding: 42px 0px;
    }
    footer {
        padding: 40px 42px;
    }

}

/* 1440px min */

@media screen and (min-width: 1440px) {
    .nav_div {
        padding: 0px max(120px, calc(50% - 720px));
        
    }
    .header_section {
        padding: 0px max(120px, calc(50% - 720px));
    }
    .main_section{
        padding: 0px max(120px, calc(50% - 720px));
    } 

}