* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    color: var(--bg-color-text-color);
    font-size: 60px;
    font-family: 'Arima';
    font-weight: bold;
}

h2 {
    color: var(--bg-color-green);
    font-size: 52px;
    font-family: 'Arima';
    font-weight: bold;
}

h3 {
    color: var(--bg-color-yellow);
    font-size: 64px;
    font-family: 'Arima';
    font-weight: 700;
}

h4 {
    color: var(--bg-color-text-color);
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    font-family: 'Arima';
}

.article-heading-green-p {
    color: var(--bg-color-green);
    font-size: 40px;
    font-family: 'Palanquin';
    font-weight: 600;
}

.global_p {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
}

.bold-text {
    color: var(--bg-color-p-text);
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 600;

}

.nav-bar {
    background-color: var(--bg-color-green);
    padding: 40px 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    color: var(--bg-color-white);
}

.nav-bar>a {
    color: var(--bg-color-white);
    text-decoration: none;
    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.5rem;
}
.pro-tipp-card {
    position: relative;
    margin: auto;
    width: fit-content;
    list-style-position: inside;
    line-height: 180%;
    padding: 150px;
    
}
.pro-tipp-text {
    font-size: 1.75rem;
    font-family: 'Palanquin';
    font-weight: 700;
    color: var(--bg-color-yellow);
}
.pro-tipp-button {
    border-radius: 10px;
    background-color: var(--bg-color-green);
    padding: 20px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-20%, -70%) rotate(-14deg);
}
.pro-tipp-content {
    background-color: var(--bg-color-pro-tipp);
    border-radius: 30px;
    padding: 26px 20px 24px 24px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 1000px;
}

.pro-tipp-link {
    color: var(--bg-color-green);
    font-weight: 700;
}

footer {
    background-color: var(--bg-color-green);
    padding: 60px 150px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text-content {
    display: flex;
    align-items: center;
    gap: 72px;
}

.copyright-content {
    display: flex;
    align-items: center;
    gap: 4px;
}

.social-media-icons {
    height: 32px;
    width: auto;
    display: flex;
    gap: 16px;
}

footer a,
footer p {
    color: var(--bg-color-white);
    font-family: 'Palanquin';
    font-weight: 400;
}

footer a {
    text-decoration: none;
    font-size: 1rem;
}