:root {
    --bg-color-yellow: rgb(241, 201, 83);
    --bg-color-green: rgb(78, 164, 135);
    --bg-color-text-color: rgb(84, 55, 13);
    --bg-color-white: rgb(255, 255, 255);
    --bg-color-button-color-send: rgba(48, 48, 48, 0.5);
    --bg-color-p-text: rgb(61, 61, 61);
}